.calva/
.clj-kondo/
.cpcache
.joyride
.lein-*
.lsp/
.nrepl-port
.nrepl-port/
.vscode
*.class
*.code-workspace
*.jar
checkouts/
classes/
deps.edn
dictionary
profiles.clj
src/get_started/hello_paredit.clj
src/get_started/hello_repl.clj
src/get_started/welcome_to_clojure.clj
src/tutorial/core.clj
target/
